body{
	background-color: #000000;
}
p{
	color: #FFFFFF;
	font-size: 24px;
}
button{
	border-radius: 10px;
	width: 140px;
	height: 40px;
	background-color: white;
	color: Black;
}
.menu{

}
audio{
	
}
